# Core Django dependencies
Django==5.1.1

# Additional Tools used in Django
django-debug-toolbar==4.4.6
secure==1.0.0

# Linting and formatting tools
black==23.7.0
isort==5.13.2

# Test dependencies
pytest==7.4.0
pytest-django==4.5.2

# Environment variable management
python-dotenv==1.0.0


django-constance==4.1.2
environs==11.0.0
gunicorn==23.0.0

sentry-sdk==2.14.0

